VITE_BACKEND_URL=http://localhost:8080
VITE_LOGO_URL=https://firebasestorage.googleapis.com/v0/b/jq-stock.firebasestorage.app/o/order-receipts%2F67e41b6e80e087fc2bcad236%2F8eafe4df-992a-4916-8f8e-6fbecbf62921-Logo.png?alt=media&token=73bcf06f-bb9c-4fd5-bb4b-11885d2865f0